* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
	font-family: 'Sen', sans-serif;
}

a {
	text-decoration: none;

}

body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
	list-style-type: none;
}

/***************Common*****************/
.content {
	position: relative;
	width: 1117px;
	max-width: calc(100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.btn {
	display: inline-block;
	min-width: 118px;
	color: #FFF;
	text-align: center;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	border-radius: 25px;
	background: #171100;
}

span {
	color: #171100;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.8;
	margin-left: 14px;
}

/*******Header*********/
.header {
	background: #FFFCF4;
}

.header .row {
	display: flex;
	align-items: center;
	padding: 36px 0 8px;
	background: #FFFCF4;
}

.header .nav {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.header.fixed {
	position: sticky;
	z-index: 1;
	top: -18px;
}

.header .menu {
	display: flex;
	margin-right: 49px;
}

.nav .btn-sign {
	line-height: 50px;
	min-width: 144px;
	border-radius: 24.5px;
	background: #171100;
}

.header .menu a {
	position: relative;
	padding: 12px 21px;
	color: #5F5B53;
	text-align: center;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
}

.row .menu .active::before {
	position: absolute;
	content: " ";
	display: flex;
	width: 12px;
	height: 2px;
	border-radius: 1px;
	background: #171100;
	left: 22px;
	bottom: 9px;
}

.header .menu a:hover {
	text-shadow: 1px 0 0 currentColor;
}

/********Hero*************/
.hero {
	background: #FFFCF4;
	padding: 56px 0 64px;
}

.hero .body {
	position: relative;
	display: flex;
	justify-content: space-between;
	background-color: #FFFCF4;
}

.hero .info {
	width: 470px;
	height: 558px;
	margin-top: 64px;
}

.hero .image {
	width: 470px;
	height: 685px;
	object-fit: cover;
	border-radius: 20px;
}

.hero .title {
	color: #171100;
	font-family: Sen;
	font-size: 5.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: -1.16px;
}

.hero .desc {
	width: 470px;
	color: #5F5B53;
	font-size: 1.9rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.9;
	margin-top: 22px;
}

.hero .btn-group {
	display: flex;
	gap: 0 28px;
	padding: 38px 0 48px;
}

.hero .btn-see {
	min-width: 180px;
	line-height: 64px;
	border-radius: 32px;
	background: #FFB900;
}

.hero .watch {
	display: flex;
	align-items: center;
}

.watch .cicle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: black;
}

.hero .desc-sub {
	color: #5F5B53;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 400;
}

.hero .sub-qty {
	display: flex;
	margin-top: 8px;
	gap: 0 28px;

}

.hero .qty-box {
	display: flex;
	align-items: end;
	gap: 0 14px;
}

.qty-box strong {
	color: #171100;
	font-family: Sen;
	font-size: 4.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.1;
}

.qty-box p {
	color: #5F5B53;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.8;
}

.hero .base {
	position: absolute;
	top: 283px;
	left: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 22px 0;
	width: 270px;
	height: 244px;
	border-radius: 12px;
	background: #FFF;
	box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
	z-index: 0;
}

.base .couse {
	display: flex;
	align-items: center;
}

.base .group {
	width: 119px;
	height: 46px;
	margin-left: 16px;
}

.base .icon {
	width: 48px;
	height: 48px;
}

.base p {
	color: #5F5B53;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
}

.base strong {
	color: #171100;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2;
	text-wrap: nowrap;
}

/*******Course************/
.courses {
	padding: 200px 0;
}

.courses .sub-title {
	color: #171100;
	font-family: Sen;
	font-size: 3.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.76px;
	margin-bottom: 16px;
}

.courses .title {
	color: #5F5B53;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 1.05;
	width: 458px;
}

.courses .icon {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 36px;
}

.courses .card-group {
	display: flex;
	gap: 0 30px;
}

.card {
	margin-top: 55px;
	width: 370px;
	height: 466px;
	border-radius: 12px;
	border: 1px solid #E2DFDA;
	background: #FFF;
}

.card .img-card {
	width: 100%;
	height: 278px;
	border-radius: 12px 12px 0px 0px;
	object-fit: cover;
}

.card .design {
	color: #171100;
	font-size: 1.8;
	font-style: normal;
	font-weight: 600;
	line-height: 1.66px;
	margin-top: 6px;
}

.card .info {
	margin: 16px 22px 22px;
}

.info .desc {
	margin-top: 6px;
	color: #5F5B53;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
}

.info .btn-group {
	margin-top: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info .cost {
	color: #171100;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.66;
}

.info .btn-card {
	min-width: 118px;
	line-height: 50px;
}

.info .spacial {
	background-color: #FFB900;
}

.info .design-catalog {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/****Testimonial***/

.testimonial {
	background: #2E2100;
	;
}

.testimonial .body {
	width: 1440px;
	height: 380px;
	background: #2E2100;
}

.testimonial .body {
	display: flex;
	align-items: center;
	width: 1117px;
}

.testimonial .person .avata {
	width: 72px;
	height: 72px;
	border-radius: 72px;
	object-fit: cover;
}

.testimonial .person .name {
	margin-top: 18px 0 4px;
	color: #F7F7F7;
	font-family: Sen;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4;
}

.person .desc {
	text-wrap: nowrap;
	min-width: 100px;
	color: #BFBCB2;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
}

.group-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0 6px;
}

.testimonial .group-icon {
	margin-top: 28px;
}

.group-icon div {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #FFB900;
}

.icon-1,
.icon-3 {
	opacity: 50%;
}

.testimonial .comment {
	position: relative;
	margin-left: auto;
	color: #FFF;
	font-size: 2.7rem;
	font-style: italic;
	font-weight: 400;
	line-height: 1.53;
	width: 740px;
}

.testimonial .icon {
	position: absolute;
	margin-bottom: auto;
	top: -20px;
	left: -29px;
}

/********Features**********/

.features .body {
	height: 405px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 233px;
	padding-bottom: 200px;
}

.features .img-group {
	width: 570px;
	display: flex;
	gap: 0 30px;
}

.features .img {
	margin-top: 33px;
}

.features .img-group img {
	align-items: center;
	width: 270px;
	height: 405px;
	border-radius: 16px;
	object-fit: cover;
}

.features .sub-title {
	width: 470px;
	color: #171100;
	font-family: Sen;
	font-size: 3.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.26;
	letter-spacing: -0.76px;
}

.features .info {
	width: 470px;
	padding-left: 0;
}

.features .desc {
	color: #5F5B53;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75;
	margin: 16px 0;
}

.features strong {
	color: #5F5B53;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75;
	margin-bottom: 32px;
}

.features .action {
	margin-top: 32px;
}

.features .btn-signup {
	background-color: #FFB900;
	min-width: 137px;
	line-height: 50px;
}

/*******CTA*************/
.features-2 .body {
	display: flex;
}

.features-2 .sub-title {
	width: 570px;
	color: #171100;
	font-family: Sen;
	font-size: 3.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.26;
	letter-spacing: -0.76px;
}

.features-2 .info {
	width: 100%;
	margin-right: auto;
}

.features-2 .btn-join {
	background-color: #FFB900;
	min-width: 137px;
	line-height: 50px;
}

.features-2 .desc {
	width: 570px;
	color: #5F5B53;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75;
}

.features-2 .image {
	width: 470px;
	height: 440px;
	object-fit: cover;
	margin-left: auto;
	border-radius: 20px;
}

/****Blog**********/
.blog {
	padding: 96px 0;
	justify-content: center;
	background: #FFFCF4;
}

.blog .sub-title {
	color: #130606;
	text-align: center;
	font-family: Sen;
	font-size: 3.8rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.26;
}

.blog .desc {
	width: 448px;
	color: #696262;
	text-align: center;
	margin: 16px auto 5px;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75;
}

.blog .group-card {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	gap: 0 30px;
}

.blog .card {
	width: 33.3%;
	height: 467px;
	border-radius: 16px;
	background: #FFF;
	display: flex;
	flex-direction: column;
}

.blog .card .image {
	object-fit: cover;
	width: 100%;
	height: 250px;
	border-radius: 16px 16px 0px 0px;
}

.blog .card-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px 0px;
	height: 169px;
	margin: 20px 20px 28px 20px;
}


.blog .card .text {
	color: #171100;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.75;
}

.blog .day-group {
	align-items: center;
	display: flex;
}

.blog .day-group .cicle {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #FFB900;
	margin-right: 10px;
}

.blog .day-group .day {
	color: #5F5B53;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
}

.blog .btn-card {
	line-height: 50px;
	border-radius: 25px;
	background: #171100;
}

.blog .btn-card-1 {
	background: #FFB900;
}

.blog .line {
	width: 160px;
	height: 1px;
	border-radius: 0.5px;
	background: #E2DFDA;
}

.blog .ico {
	margin-top: 38px;
	display: flex;
	justify-content: center;
}

/******Footer**********/
.footer {
	padding: 96px 0 28px;
	background: #2E2100;
}

.footer .body {
	display: flex;
	justify-content: space-between;
}

.cm-0 {
	width: 267px;
}

.footer .desc {
	width: 100%;
	margin: 18px 0;
	color: #BFBCB2;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
}

.footer .cm-1,
.footer .cm-2 {
	width: 130px;
}

.footer .cm-3 {
	width: 231px;
}

.footer .title {
	color:#FFFFFF;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.75;
}

.footer .line {
	width: 130px;
	height: 1px;
	background: #59554B;
	margin: 14px 0 28px;
}

.footer a {
	color: #BFBCB2;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
}

.info-item strong {
	display: inline-block;
	color: #FFFFFF;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.75;
}

.cm-3 p {
	display: inline-block;
	color: #BFBCB2;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
}

.footer .info {
	display: flex;
	flex-direction: column;
	gap: 12px 0;
}

.footer .line-main {
	width: 100%;
	height: 1px;
	background: #59554B;
}

.footer .copyright-group {
	margin-top: 38px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer .copyright {
	color: #807D74;
	text-align: center;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.85;
	margin-left: auto;
	margin-right: auto;
	margin-top: 28px;
}